In [9]:
print("hello")

hello

In [4]:
a=12
b=30
c=a+b

42

In [11]:
list=["vanilla","strawberry","mango"]

3-element Array{String,1}:
 "vanilla"
 "strawberry"
 "mango"

In [13]:
number=Float64[1,2,3,4]

4-element Array{Float64,1}:
 1.0
 2.0
 3.0
 4.0

In [23]:
array_3d=[1 2 3;6 4 5;5 6 7]

3Ã—3 Array{Int64,2}:
 1  2  3
 6  4  5
 5  6  7

# creating ranges

In [24]:
collect(1:10)

10-element Array{Int64,1}:
  1
  2
  3
  4
  5
  6
  7
  8
  9
 10

In [25]:
collect(1:2:20)

10-element Array{Int64,1}:
  1
  3
  5
  7
  9
 11
 13
 15
 17
 19

# tuples

In [30]:
tup=(1,2,3)

(1, 2, 3)

In [35]:
tup2=((1,2),(4,5,6))

((1, 2), (4, 5, 6))

In [37]:
tup2[2][1]

4

# Dictionaries

In [41]:
dict=Dict("car" => 100, "bike" => 30, "scooty" => 20)

Dict{String,Int64} with 3 entries:
  "car"    => 100
  "scooty" => 20
  "bike"   => 30

In [42]:
dict["bike"]

30

In [45]:
delete!(dict,"car")

Dict{String,Int64} with 2 entries:
  "scooty" => 20
  "bike"   => 30

# Sets

In [48]:
cricket=Set(["nike","MRF","SG","SS","GM"])

Set{String} with 5 elements:
  "MRF"
  "SG"
  "SS"
  "nike"
  "GM"

In [50]:
in("nike",cricket)

true

# Conditional statements

In [51]:
a=10
b=20

20

In [55]:
if a<b
    print("julia")
elseif a>b
    print("python")
else
    print("c++")
end

julia

# Loops

In [62]:
for i=1:5
    println(i)
    end

1
2
3
4
5

In [63]:
i=1
while i<=5
    println(i)
    global i+=1
end

1
2
3
4
5

# List Comprehension

In [64]:
x=[i^2 for i in 1:10]

10-element Array{Int64,1}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

In [66]:
x=Set([i^2 for i in 1:10])

Set{Int64} with 10 elements:
  4
  9
  25
  100
  81
  16
  36
  64
  49
  1

# Strings

In [69]:
"hello"

"hello"

In [70]:
str="welcome to julia"

"welcome to julia"

In [75]:
# str[begin]
# str[1]
str[end]

'a': ASCII/Unicode U+0061 (category Ll: Letter, lowercase)

# Functions

In [76]:
function f(a,b)
    a*b
end

f (generic function with 1 method)

In [77]:
f(1,2)

2

In [78]:
#simpler method
f(x,y)=x+3*y

f (generic function with 1 method)

In [79]:
f(3,4)

15